@use "../abstracts" as a;

@media screen and (min-width: 1280px) {
    .f-name{
        width: 450px;
    }
   .l-name{
        width: 350px;
    }
   .title{
        width: 250px;
    }
   .mini-post p{
    width: 300px;
   }
}
