@use "../abstracts" as a;
@use "../components";

#main-head{
    position: fixed;
    background-color: a.$black;
    color: a.$white;
    border-radius: 0 0 10px 10px;
    border: 2px solid a.$yellow;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: -16px;
    a img{
        width: 50px;
        height: 50px;
    }
    h3{
        width: 250px;
        justify-items: center;
        text-align: left;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: a.$main-font;
    }
    img{
        background-color: a.$yellow;
    }
    .head-img{
        width: 30px;
        height: 30px;
       margin-left: 45%;

    }
}

 // Hero Section
 #hero-section{
    background-color: a.$black;
    color: a.$white;
    padding-top: 15%;
    border-radius: 10px 10px 30px 30px;
    justify-items: center;
    h2{
        font-size: 45px;
        font-family: a.$main-font;
        text-transform: uppercase;
    }
    p{
        font-size: 15px;
        font-family: a.$main-font;
        text-transform: uppercase;
        color: a.$yellow;
        font-weight: 400;
        word-spacing: 5px;
        padding-block: 10px;

    }
    h3{
        font-size: 20px;
        font-family: a.$main-font;
        text-transform: uppercase;
        word-spacing: 7px;
        padding-bottom: 10px;

    }
}
